In [17]:
import import_ipynb
from preprosses import df
df.head()

,Startdato,Startposisjon bredde,Startposisjon lengde,Havdybde start,Stoppdato,Varighet,Stopposisjon bredde,Stopposisjon lengde,Havdybde stopp,Trekkavstand,Redskap FDIR (kode),Art - FDIR,Rundvekt,Bredde,Fartøylengde
2,30.12.2017,"74,885","16,048",-335,31.12.2017,295,"74,914","15,969",-334,3970.0,51.0,Torsk,8510.0,"12,6","56,8"
4,30.12.2017,"74,885","16,048",-335,31.12.2017,295,"74,914","15,969",-334,3970.0,51.0,Sei,134.0,"12,6","56,8"
6,31.12.2017,"74,91","15,868",-403,31.12.2017,267,"74,901","16,248",-277,11096.0,51.0,Torsk,6651.0,"12,6","56,8"
9,31.12.2017,"74,91","15,868",-403,31.12.2017,267,"74,901","16,248",-277,11096.0,51.0,Sei,67.0,"12,6","56,8"
12,31.12.2017,"74,883","16,056",-346,31.12.2017,315,"74,924","15,742",-496,10215.0,51.0,Torsk,5097.0,"12,6","56,8"

In [18]:
#Importere og bruke tensorflow og keras for dyp læring
import tensorflow as tf 
from tensorflow import keras

In [25]:
features = ['Startdato', 'Startposisjon bredde', 'Startposisjon lengde', 'Havdybde start', 'Stoppdato', 'Varighet',
            'Stopposisjon bredde', 'Stopposisjon lengde', 'Havdybde stopp', 'Trekkavstand', 'Redskap FDIR (kode)', 
            'Rundvekt', 'Bredde', 'Fartøylengde']
X = df[features]
y = df['Art - FDIR']

# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
#Build the Model
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=[len(features)]),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') # Change activation to 'softmax' for multi-class problems
])

In [21]:
#Compile the Model
model.compile(optimizer='adam',
              loss='binary_crossentropy',# Use 'categorical_crossentropy' for multi-class problems
              metrics=['accuracy'])

In [24]:
#Train og fit.
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).