In [1]:
#Hvilke kolonner er irrelevante?
#"Melding ID", "Meldingstidpunkt", "Meldingsdato", "Meldingsklokkeslett" Det meste med når dette er lagt inn vil ikke ha noe å si.
#"Starttidpunkt", "Startklokkeslett", "Stopptidspunkt", "Stoppklokkeslett" Vil erstattes med bare "Varighet", men kanskje har noe å si med åssen fisken oppfører seg natt/dag.
#"Hovedområde start", "Hovedområde stopp", "Hovedområde start (kode)", "Hovedområde stopp (kode)" Bruker heller Lokasjon stopp og start ettersom alle de ser ut til å være tilknyttet.

In [2]:
import pandas as pd
import numpy as np

#Bruke sep=';' ettersom i csv filen er det splittet med ";"
df = pd.read_csv('elektronisk-rapportering-ers-2018-fangstmelding-dca-simple.csv', sep=';')
df.head()

C:\Users\47476\AppData\Local\Temp\ipykernel_12928\872125442.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Melding ID,Meldingstidspunkt,Meldingsdato,Meldingsklokkeslett,Starttidspunkt,Startdato,Startklokkeslett,Startposisjon bredde,Startposisjon lengde,Hovedområde start (kode),...,Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
0,1497177,01.01.2018,01.01.2018,00:00,31.12.2017,31.12.2017,00:00,"-60,35","-46,133",NaN,...,Antarktisk krill,506.0,Antarktisk krill,706714.0,5.0,28 m og over,9432.0,NaN,"19,87","133,88"
1,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Hyse,202.0,Hyse,9594.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
2,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Torsk,201.0,Torsk,8510.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
3,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Blåkveite,301.0,Blåkveite,196.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
4,1497178,01.01.2018,01.01.2018,00:00,30.12.2017 23:21,30.12.2017,23:21,"74,885","16,048",20.0,...,Sei,203.0,Sei,134.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"

In [3]:
#Fjerne de irrelevante kolonnene ved bruk av pandas sin drop
irrelevante_col = ['Melding ID', 'Meldingstidspunkt', 'Meldingsdato', 'Meldingsklokkeslett','Starttidspunkt', 'Startklokkeslett', 'Stopptidspunkt', 'Stoppklokkeslett','Hovedområde start', 'Hovedområde stopp', 'Hovedområde start (kode)', 'Hovedområde stopp (kode)']
for col in irrelevante_col:
     df = df.drop(col, axis=1)

#Sjekke om Nan
nan_count = df.isna().sum()
print(nan_count)
#Fjerne også NaN ettersom den bare oppstår på steder du ikke trenger å bruke mean eller median
df = df.dropna()
df.head()

Startdato                      0
Startposisjon bredde           0
Startposisjon lengde           0
Lokasjon start (kode)       2001
Havdybde start                 0
Stoppdato                      0
Varighet                       0
Fangstår                       0
Stopposisjon bredde            0
Stopposisjon lengde            0
Lokasjon stopp (kode)       1962
Havdybde stopp                 0
Trekkavstand                  24
Redskap FAO (kode)             0
Redskap FAO                  188
Redskap FDIR (kode)          188
Redskap FDIR                 188
Hovedart FAO (kode)         4978
Hovedart FAO                4978
Hovedart - FDIR (kode)      4978
Art FAO (kode)              4978
Art FAO                     4982
Art - FDIR (kode)           4982
Art - FDIR                  4982
Art - gruppe (kode)         4982
Art - gruppe                4982
Rundvekt                    4978
Lengdegruppe (kode)          684
Lengdegruppe                 684
Bruttotonnasje 1969        71429
Bruttotonnasje annen      230660
Bredde                       684
Fartøylengde                   0
dtype: int64

,Startdato,Startposisjon bredde,Startposisjon lengde,Lokasjon start (kode),Havdybde start,Stoppdato,Varighet,Fangstår,Stopposisjon bredde,Stopposisjon lengde,...,Art - FDIR,Art - gruppe (kode),Art - gruppe,Rundvekt,Lengdegruppe (kode),Lengdegruppe,Bruttotonnasje 1969,Bruttotonnasje annen,Bredde,Fartøylengde
0,31.12.2017,"-60,35","-46,133",NaN,-2740,01.01.2018,1440,2018,"-60,4","-46,15",...,Antarktisk krill,506.0,Antarktisk krill,706714.0,5.0,28 m og over,9432.0,NaN,"19,87","133,88"
1,30.12.2017,"74,885","16,048",7.0,-335,31.12.2017,295,2017,"74,914","15,969",...,Hyse,202.0,Hyse,9594.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
2,30.12.2017,"74,885","16,048",7.0,-335,31.12.2017,295,2017,"74,914","15,969",...,Torsk,201.0,Torsk,8510.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
3,30.12.2017,"74,885","16,048",7.0,-335,31.12.2017,295,2017,"74,914","15,969",...,Blåkveite,301.0,Blåkveite,196.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"
4,30.12.2017,"74,885","16,048",7.0,-335,31.12.2017,295,2017,"74,914","15,969",...,Sei,203.0,Sei,134.0,5.0,28 m og over,1476.0,NaN,"12,6","56,8"